<!DOCTYPE html>
<html lang="pt-BR">
<html xmlns:th="http//www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto - Suplemax</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/estilo.css}" type="text/css" media="all">
</head>

<body>
    <div class="menu">
        <a href="index.html">HOME</a>
        <a href="cadastrar.html">CADASTRAR</a>
        <a href="consultar.php">CONSULTAR</a>
        <a href="pesquisar.html">PESQUISAR</a>
        <a href="atualizar.html">ATUALIZAR</a>
        <a href="excluir.html">EXCLUIR</a>
    </div>

    <div class="container mt-5">
        <h1 class="text-center">Atualizar Produto</h1>
        <form action="atualizar.php" method="post">
            <div class="form-group">
                <label for="nome">ID do Produto:</label>
                <input type="text" class="form-control" id="id" name="id" required>
            </div>
            <div class="form-group">
                <label for="nome">Nome:</label>
                <input type="text" class="form-control" id="nome" name="nome" required>
            </div>
            <div class="form-group">
                <label for="categoria">Categoria:</label>
                <select class="form-control" id="categoria" name="categoria" required>
                    <option value="">Selecione uma categoria</option>
                    <option value="PROTEÍNA">PROTEÍNA</option>
                    <option value="TERMOGÊNICO">TERMOGÊNICO</option>
                    <option value="VITAMINA">VITAMINA</option>
                    <option value="AMINOÁCIDO">AMINOÁCIDO</option>
                </select>
            </div>
            <div class="form-group">
                <label for="preco">Preço:</label>
                <input type="text" class="form-control" id="preco" name="preco" required>
            </div>
            <div class="form-group">
                <label for="descricao">Descrição:</label>
                <textarea class="form-control" id="descricao" name="descricao" rows="4"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Atualizar</button>
        </form>
    </div>
</body>
</html>

